/*Fonts*/
@font-face {
  font-family: "WisdomScriptRegular";
  src: url("/vendor/wisdom_script.otf");
}

/*Variables*/
/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #777777;
}

.col-4 {
  border: 2px solid yellow;
  padding: 0 !important;
  /* to get rid of default padding*/
}

.section-title {
  margin-bottom: 80px;
  border: 1px solid green;
}

.section-title h3,
.card-text h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #222222;
}

.section-title h3 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 120px;
}

h5 {
  font-size: 18px;
}

.section-title h4 {
  font-family: "Libre Baskerville", serif;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

/*Splash*/
.splash {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/images/background-image.jpg");
}

nav {
  padding-top: 50px;
  border: 1px solid red;
}

nav .container h1 {
  text-align: left;
  font-family: "WisdomScriptRegular", "Libre Baskerville", serif;
  color: #fed136;
  font-size: 30px;
  position: absolute;
  transform: translate(0, -10px);
  font-weight: 400;
}

nav ul {
  list-style-type: none;
  text-align: right;
  position: relative;
  width: 100%;
}

nav li {
  display: inline-block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 35px;
  border: 1px solid green;
}

.splash-inner {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  border: 1px solid white;
  padding: 0 20px;
  margin: 0;
}

.splash h1,
.splash h2 {
  color: #FFFFFF;
}

.splash-inner h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  border: 1px solid pink;
  margin-bottom: 60px;
}

.splash h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  margin-bottom: 50px;
  border: 1px solid violet;
}

.splash .btn {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background: #fed136;
  border: none;
  border-radius: 5px;
  width: 240px;
  height: 65px;
}

/*Services*/
.services .card {
  height: auto;
  margin-bottom: 120px;
}

.services .card-text {
  padding: 0 20px;
}

.card-icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  border: 4px solid #fed136;
}

.card-icon i {
  font-size: 34px;
  line-height: 55px;
  color: #fed136;
}

/*Portfolio*/
.portfolio {
  background: #f7f7f7;
  padding-bottom: 120px;
}

.card {
  border: 1px solid blue;
  max-width: 300px;
  height: 400px;
  background: white;
  padding: 0 auto;
  margin: 0 auto;
  /* to center inside col-4*/
  margin-bottom: 50px;
}

.portfolio .card-image {
  height: 300px;
}

.portfolio .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .card-text {
  padding-top: 28px;
  padding-bottom: 30px;
  border: 1px solid orange;
}

.portfolio p {
  margin: 0;
  font-family: "Libre Baskerville", serif;
}

/*Footer*/
footer {
  border: 1px solid blue;
}

footer .copyright {
  position: absolute;
  border: 1px solid cyan;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

footer p {
  text-align: left;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
}

footer .row {
  border: 1px solid olive;
  height: 120px;
  position: relative;
}

footer ul {
  list-style-type: none;
  border: 1px solid blue;
  margin: 0 auto;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer li {
  font-size: 0px;
  display: inline-block;
  margin: 0;
}

footer li a i {
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #222222;
  text-align: center;
  line-height: 100px;
  padding-top: 20%;
}
/*# sourceMappingURL=style.css.map */