/*Fonts*/

@font-face {
    font-family: "WisdomScriptRegular";
    src:url("/vendor/wisdom_script.otf");
}


/*Variables*/

$font-heading: 'Montserrat', sans-serif;
$font-caption: 'Libre Baskerville', serif;
$font-body: 'Roboto Slab', serif;
$font-logo: "WisdomScriptRegular",'Libre Baskerville', serif;

/*Global*/
